<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
    <div> <%= user %> There should be a div here</div>
    <div> <%= firstName %></div>
    <div> <%= lastName %></div>
    <div> <%= email %></div>
  <a href="/">Back to home</a>
</body>
</html>
